@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Accela Exercise</h1>
    <p>My Linkedin <a target="_blank" href="https://linkedin.com/in/renanslucena">here</a>.</p>
    <p>My Github <a target="_blank" href="https://github.com/renanslucena88">here</a>.</p>
</div>